.Img1{
    width: 300px;
}

.name1{
    font-size: 30px;
    margin-left: 50px;
}

form{
    font-size: 20px;
}
.disbut1{
    font-size: 25px;
    margin-left: 250px;
    background-color: red;
    font-weight: bold;
    color: yellow;
}
label{
    font-weight: bold;
}
#Marksheet{
    position: relative;
    margin-left: 50px;
}
.btnsub{
    margin-left: 270px;
    font-size: 25px;
    background-color: orange;
    font-weight: bold;
    color: blue;
}
td{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    width: 250px;
    padding: 5px;
    text-align: center;
}
